<div class="navbar">
    <div class="navbar-inner">
        <a class="brand disabled" href="#">Browse</a>
        <ul class="nav">
            <li data-ng-class="{'active':routeParams.typeCollectionSlug=='entities'}"><a href="/#/entities">Entities</a></li>
            <li data-ng-class="{'active':routeParams.typeCollectionSlug=='lists'}"><a href="/#/lists">Typed Lists</a></li>
            <li data-ng-class="{'active':routeParams.typeCollectionSlug=='views'}"><a href="/#/views">Typed Views</a></li>
        </ul>
    </div>
</div>